<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/Site/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <link href="~/Content/Site/css/memenu.css" rel="stylesheet" />
    <script src="~/Content/Site/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/Site/js/simpleCart.min.js"></script>
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="search">
                    @using (Html.BeginForm("GetProductByKeyword", "Product", FormMethod.Get))
                    {
                        <input type="text" name="search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                        <input type="submit" value="Go">
                    }
                </div>
                <div class="header-left">
                    @{ var account = (Account)Session[Constant.UserCustomerSession]; }
                    <ul>
                        @if (account == null)
                        {
                            <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                            <li><a href="@Url.Action("Index", "Register")">Register</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Edit", "Register")">@account.User.Name</a></li>
                            <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                        }
                    </ul>
                    @if (account != null)
                    {
                        <div class="cart box_1">
                            <a href="@Url.Action("Index", "Cart", new { id = account.Id })">
                                <h3><img src="~/Content/Site/images/cart.png" /></h3>
                            </a>
                        </div>
                    }
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="/">
                        <img width="165" height="50" style="object-fit: contain;" src="~/Content/Site/images/logo.jpg" />
                    </a>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li class="active grid"><a class="color8" href="@Url.Action("Index", "Home")">Home</a></li>
                        @Html.Action("MenuPartial", "Home")
                        <li><a class="color4" href="#">Blog</a></li>
                        <li><a class="color6" href="#">Conact</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    @RenderBody()
    <div class="footer" style="margin-top: 20px;">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>MORE INFO</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">How to order</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>CONTACT US</h4>

                    <p>
                        Contrary to popular belief
                    </p>
                    <p>The standard chunk</p>
                    <p>office:  +84354540505</p>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>Newsletter</h4>
                    <p>
                        Sign Up to get all news update
                        and promo
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Sign up">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2020 New store All Rights Reserved | Design by  <a href="#">Nguyễn Văn Tùng</a> </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("JsSection", false)
</body>
</html>