@model List<Product>
@{ CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); }
@foreach (var item in Model)
{
    <tr id="row_@item.Id">
        <td width="400px">@item.Name</td>
        <td>@item.CreationTime.ToString("dd/MM/yyyy")</td>
        <td>@item.Price.ToString("#,###", cul.NumberFormat) VND</td>
        <td><a href="#" class="btn btn-secondary btn-block btnActive" style="width: 100px;" id="btnActive_@item.Id" data-id="@item.Id">@item.ProductStatus</a></td>
        <td>
            <a href="@Url.Action("Detail", new { id = item.Id })" class="btn btnView btn-outline-success">Xem</a>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success"><i class="fa fa-edit"></i>Sửa</a>
            <a href="#" class="btn btn-danger btnDelete" data-id="@item.Id"><i class="fa fa-times"></i>Xóa</a>
        </td>
    </tr>
}